* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
  
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
  }
  .menu-area li a {
    text-decoration: none;
  }
  
  .menu-area li {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 25px;
  }
  
  nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background:white;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
  }
  
  .logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 5px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 100px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
  }
  .menu-area a:hover {
    background: tomato;
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
  }
  
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
  }
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }
  
   #slider {
   font: 19px sans-serif;
   margin: 0px auto;
    position: relative;
      width: 2500px;
     height: 500px;
         overflow: hidden;
       }
                  
  #kontrol {
     position: absolute;
     right: 0px;
     bottom: 10px;
                    }
                  
                    #kontrol a {
                      color: #ffffff;
                      background-color: rgba(0, 0, 0, 0.5);
                      padding: 10px;
                      text-decoration: none;
                    }
                  
                
          
            }
            
         footer       {

                      float: right
                    ;
         }
            
                  
  }